h1 {
    color: blue;
}

#weather {    
    width: 50%;
    
}
.main_image{
   margin-left: 30%;
   margin-right: 30%;
}
.movie-container{
height: 400px;

}
.movie-container img{
min-height: 360px;
transition: transform 0.8s;
    
}
.movie-container img:hover {
   transform: scale(1.1)
        
    }