h1 {
    color: #1a237e;
    text-shadow: 2px 2px 2px rgb(158, 158, 158);
}

#weather {    
    width: 50%;
    
}
.main_image{
   margin-left: 30%;
   margin-right: 30%;
}
.movie-container{
height: 400px;

}
.movie-container img{
min-height: 360px;
transition: transform 0.8s;
    
}
.movie-container img:hover {
   transform: scale(1.1)
        
    }
.title{
    text-align: center;
    align-items: center;
   
}
    .part2 {
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
      }
      
      .box1{
        height: 50%;
        width: 100%;
        margin: 5px;
      
      }
      .box2{
        height: 100%;
        width: 60%;
        margin: 5px;
        margin-top: 20%;
    
     }
    #comment-form{
        margin: 5%;
        padding: 5%;
    }
      
   .brand-logo{
    text-shadow: 1px 1px 1px rgb(158, 158, 158);
   }