
<%- include('../partials/head.ejs') %>
<body>
 <%- include('../partials/nav.ejs') %>
 
    <div class="container">
      <h2 class= "index" >Welcome to IMD  </h2>   
        <h3 class="sub"> IMD is an online database that  stores information related to movies</h3>
<h3 >Current time</h4>

<main class="row">
  <div class="col s4">
    <img class ="main_image" src="/assest/README.svg" alt="ilustration main">

  </div>
  <div class="col s4">
    <div class="progress">
      <div class="indeterminate"></div>
  </div>

<!-- Weather content  -->
  <div id = "weather">  </div>
  </div>
</main>
    </div>


  <!-- footer --> 
  <%- include('../partials/footer.ejs') %>
            <!-- Javascript -->     
    <script src="/js/script.js"></script>
</body>
</html>
