
  
  <%- include('../partials/head.ejs') %>
  <body>
   <%- include('../partials/nav.ejs') %>

    <div class="container">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
        <ul class="pagination">
          <li class="waves-effect" id="prevpage"><a href="#!"> &larr; </a></li>
          <!-- <li class="waves-effect"><a href="#!">3</a></li>
          <li class="waves-effect"><a href="#!">4</a></li>
          <li class="waves-effect"><a href="#!">5</a></li> -->
          <li class="waves-effect"id="nextpage"><a href="#!"> &rarr; </a></li>
        </ul>

<h1>All movies</h1>
<main class="row">
  <div id="movies" class="row">
  </div>

  </div>

    


  


  <!-- footer --> 
  <%- include('../partials/footer.ejs') %>
            <!-- Javascript -->     
    <script src="/js/movies.js"></script>
    <!-- <script src="/js/apiConfig.js"></script> -->
</body>
</html>
