
  
  <%- include('../partials/head.ejs') %>
  <body>
   <%- include('../partials/nav.ejs') %>

    <div class="container">
        <div class="progress">
            <div class="indeterminate"></div>
        </div>
<h1>Movie Page</h1>
<main class="row">
  <div id="movies" class="row">


  </div>

    


  


  <!-- footer --> 
  <%- include('../partials/footer.ejs') %>
            <!-- Javascript -->     
    <script src="/js/movies.js"></script>
    <!-- <script src="/js/apiConfig.js"></script> -->
</body>
</html>
